/*
*{
    border: solid red 1px;
}
*/

body {
height: 100vh;
margin: 0;
overflow: hidden;
font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
display: flex;
flex-direction: column;
}

a{
    text-decoration: none;
    color: #E0E0CE;
}

.Header{
    background-color: #000000;
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-around;
}

.Header-Link{
    display: flex;
    gap: 25px;
    color: #E0E0CE;
}

.Header-Logo{
    font-weight: 900;
    font-size: 36px;
    text-decoration: underline;
    color: #AD343E;
    -webkit-text-stroke: 1px #E0E0CE;
}

.Body-1 {
    background-color: #000000;
    color: #E0E0CE;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex: 1;
    flex-wrap: wrap;
}

.Body1-Item1, .Body1-Item2 {
    width: 475px;
    height: 225px;
    display: flex;
    flex-direction: column;
}

.Body1-Item1-Text1{
    font-size: 48px;
    font-weight: 900;
}

.Body1-Item1-Text2{
    margin-top: auto;
    font-size: 16px;
    padding-right: 100px;
}

.Button1{
    background: #AD343E;
    color: #E0E0CE;
    border: solid 1px #E0E0CE;
    margin-top: auto;
    width: 130px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
}